!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %title HW | About
    :css
      .container{
        margin: 0 auto;
        padding: 0;
        width: 800px;
      }
  %body
    .container
      %h1 This is a About Page
      %hr
      %p
        Hello Ruby is a Scandinavian company that offers an accessible and playful way for children to learn about
        technology, computing and coding, guided by Ruby, an illustrated character, and her animal friends. Founded in 2009,
        with the intention of being a small art project, and initially limited to a book, Hello Ruby has rapidly grown into a
        popular and comprehensive children’s computing brand, following a Kickstarter campaign in 2014.
    = link_to "Home", root_path
