!!!
%html
  %head
    %meta{charset: "utf-8"}/
    %title This is a Home Page
    :css
      .container{
        margin: 0 auto;
        padding: 0;
        width: 800px;

      }
  %body
    %h1 This is Home page
    %p Hello Ruby
    .container
      %img{alt: "hello_ruby", height: "280px", src: "http://en3yksrguy-flywheel.netdna-ssl.com/wp-content/uploads/Hello-Ruby-Logo-by-Kokoro-Moi-BPO.jpg", width: "500px"}/
      %pre
    = link_to 'About', about_path
